SECRET_KEY=your_key

NAME=your_name_bd
USER=your_user
PASSWORD=your_password
HOST=your_host
PORT=your_port

EMAIL_ADMIN=your_email_admin
PASSWORD_ADMIN=your_password_admin

EMAIL_HOST_USER=your_email_host_user
EMAIL_HOST_PASSWORD=your_email_host_password

HOST_CACHE=your_host_cache

CELERY_BROKER_URL=your_path_celery_broker
CELERY_RESULT_BACKEND=your_path_celery_backend

DEBUG=False

ALLOWED_HOSTS=your_server_ip,localhost