{% extends 'con_amore/background.html' %}
{% block content %}
<div class="row text">
    <form method="post" enctype="multipart/form-data">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                {% csrf_token %}
                {{form.as_p}}
            </div>
            <button type="submit" class="p-2 btn btn-outline-primary" style="border: 2px solid #8B5A2B; color: #8B5A2B; background: transparent; border-radius: 8px; padding: 8px 20px;" >
              Зарегистрироваться
            </button>
            <a class="p-2 btn btn-outline-primary" style="border: 2px solid #8B5A2B; color: #8B5A2B; background: transparent; border-radius: 8px; padding: 8px 20px;" href="{% url 'con_amore:home' %}" role="button">Главная</a>
        </div>
    </form>
</div>
{% endblock %}